h1 {
  text-align: center;
}

h2 {
  text-align: center;
  background-color: grey;
}

h3 {
  text-align: center;
  background-color: grey;
}

.liste_film {
  margin-left: 30px;
  margin-right: 30px;
}
