<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="vues/styles/style.css">
    <link rel="icon" href="vues/media/images/favicon.png">
    <title>Relevé mensuel</title>
  </head>


  <body>
  <h1>Choix du client, du Mois de relevé et de la Carte bancaire</h1>
  {% block body %}

  {% endblock %}
  </body>

</html>
