{% extends "layout.html.twig" %}

{% block body %}
  <h2>Liste des films</h2>
    {% for film in films %}
      <div class="inside_liste_film">
        <h2>{{film.getTitre}} - <i>Sortie le {{film.getDateSortie|date('d/m/y')}} - Réalisé par {{film.idMES.prenom}} {{film.idMES.nom}}</i></h2>
      </div>
    {% endfor %}
{% endblock %}
